@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=VT323&display=swap');
@import url('https://cors-anywhere.followalong.com/https://raw.githubusercontent.com/colepeters/m6x11/master/m6x11.ttf');
body {
  padding: 75px;
  /*
  font-family: "Segoe UI", sans-serif;
  */
  font-family: "m6x11", sans-serif; /* balatro font */
  background-color: #bb2400;
  color: white; /* this changes text color */
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover {
  transform: translateX(2px);
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
} /* pixelated font */

.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} /* clean font */
iframe {
  border-radius: 20px;
}
a {
  padding-left: 5px;
}
